* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-heading {
  margin-top: 30px;
  color: #726aca;
  text-align: center;
}

#favorites {
  color: #1a0dab;
  font-size: 24px;
  text-decoration: none;

  &:visited {
    color: #1a0dab;
  }

  &:hover {
    color: #090442;
  }
}

#notice {
  font-size: 18px;
  text-align: center;
}

.alert-success {
  color: #155724;
}

.alert-danger {
  color: #721c24;
}

#header-wrap {
  position: relative;
  margin: 20px auto;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: rgb(172, 184, 172);
  border-radius: 20px;
  padding: 10px;
  
  #form-wrap {
    max-width:70%;
  
    #search {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      width: 75%;
      background: #f1f1f1;

      &:focus {
        outline: none;
      }
    }
  
    #search-button {
      width: 20%;
      padding: 10px;
      color: white;
      border: none;
      font-size: 17px;
      cursor: pointer;
      background-color: rgb(172, 184, 172);
    }
  }

  .fav-wrap {
    top: 10px;
    left: 120px;
    width: 20%;
    height: 20vh;
    z-index: 5;
    color: #2c2aa3;
    position: absolute;
    background-color: gray;

    .fav-list {
      padding: 12px 20px;
      font-size: 14px;
      line-height: 12px;

      &:hover {
        background-color: dimgray;
      }
    }
  }
}

#w-wrap {
  height: 20vw;
  padding: 30px;
  max-width: 50%;
  margin: 30px auto;
  position: relative;
  border-radius: 15px;
  background-color: #bbbebe42 ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .w-info {
    color: #140d0dee;
    font-size: 20px;
    font-weight: bold;
  }

  .temp {
    color: #000;
    font-size: 50px;
  }

  .t-unit {
    font-size: 40px;

    .cel {
      color:  #1a0dab;
      text-decoration: none;
    }

    .fah {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .side-wrap {
    bottom: 30px;
    right: 50px;
    position: absolute;

    .w-info {
      font-size: 20px;
    }
  }

  #w-close-button {
    background-color: red;
    color: gray;
    top: 5px;
    right: 10px;
    position: absolute;
    display: inline-block;

    &:hover {
      font-size: 20px;      
      transform: scale(1.1);
      border-color: rosybrown;
      box-shadow:  0 0 10px #ff0037;
    }
  }

  .add-fav {
    left: 30px;
    bottom: 20px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
    background-color: gray;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.broken-clouds {
  background-image: url('./images/broken-clouds.jpeg');
}

.clear-sky {
  background-image: url('./images/clear-sky.jpeg');
}

.few-clouds {
  background-image: url('./images/few-clouds.jpeg');
}

.mist {
  background-image: url('./images/mist.jpeg');
}

.overcast-clouds {
  background-image: url('./images/overcast-clouds.jpeg');
}

.rain{
  background-image: url('./images/rain.jpeg');
}

.scattered-clouds {
  background-image: url('./images/scattered-clouds.jpeg');
}

.shower-rain {
  background-image: url('./images/shower-rain.jpeg');
}

.snow {
  background-image: url('./images/snow.jpeg');
}

.thunderstorm {
  background-image: url('./images/few-clouds.jpeg');
}
