* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-wrap {
  margin: 30px auto;
  max-width:60%;

  #search {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }

  #search-button {
    width: 20%;
    padding: 10px;
    background: rgb(146, 150, 144);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

    &:hover {
      background: #0b7dda;
    }
  }
}

#w-wrap {
  height: 20vw;
  padding: 30px;
  max-width: 50%;
  margin: 50px auto;
  position: relative;
  border-radius: 15px;
  background-color: #f1f1f1e1;

  &:hover {
    transform: scale(1.05);
  }

  
  .w-info {
    color: #878787;
    font-size: 20px;
  }

  .temp {
    color: #000;
    font-size: 50px;
  }

  .t-unit {
    font-size: 40px;

    .cel {
      color:  #1a0dab;
      text-decoration: none;
    }

    .fah {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .side-wrap {
    bottom: 30px;
    right: 50px;
    position: absolute;

    .w-info {
      font-size: 20px;
    }
  }

  #w-close-button {
    background-color: red;
    color: gray;
    top: 5px;
    right: 10px;
    position: absolute;
    display: inline-block;

    &:hover {
      transform: scale(1.5);
      border-color: rosybrown;
      box-shadow:  0 0 10px #ffc600;
    }
  }
}