* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-wrap {
  margin: 30px auto;
  max-width:60%;

  #search {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }

  #search-button {
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

    &:hover {
      background: #0b7dda;
    }
  }
}

#w-wrap {
  margin: 50px auto;
  height: 20vw;
  max-width: 50%;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(146, 150, 144);
  border: 1px solid rgb(86, 86, 187);

  
  .w-info {
    font-size: 20px;
  }

  .temp {
    font-size: 50px;
  }

  .t-unit {
    font-size: 25px;
    cursor: pointer;

    .cel {
      color:  blue;
      padding: 14px;
    }

    .fah {
      padding: 14px;
    }
  }
}